ul.video-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.video-list li{
    background-color: #eb710e;
    border: 1px solid #a03401;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}