
<div class="container my-3">
    <h1>of & from Operator</h1>
    <div class="row">
        <div class="col">
            <strong>Ex-01 (Of)</strong>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <p class=" p-2 bg-light border rounded">
                       <strong>'Arjun','Pratap','Rana'</strong> 
                    </p>
                    <hr>
                    <ul id="elContainer">

                    </ul>
                </div>
            </div>

        </div>
        <div class="col">
            <strong>Ex-02 (from)</strong>

            <hr>
            <div class="row">
                <div class="col-md-4">
                    <strong>1- Array Example </strong>
                    <br>
                    <p class=" p-2 bg-light border rounded">
                      <strong> 'Angular','Developer','India'</strong>
                    </p>
                    <hr>
                    <ul id="elContainer2">

                    </ul>
                </div>
                <div class="col-md-4">
                    <strong>2- Promise </strong>
                    <br>
                    <p class=" p-2 bg-light border rounded">
                      <strong>Promise to Observable</strong>
                    </p>
                    <hr>
                    <ul id="elContainer3">

                    </ul>
                </div>
                <div class="col-md-4">
                    <strong>2- String </strong>
                    <br>
                    <p class=" p-2 bg-light border rounded">
                      <strong>String to Observable</strong>
                    </p>
                    <hr>
                    <ul id="elContainer4">

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>