<div class="container my-3">
    <h1>ConcatMap</h1>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>TechVideo List:</strong> 'Tech','Comedy','News'
            </p>
            <br>
            <small> we have a observable if we want to get data we can re subscribe but we use concatmap for getting a data,otherwise we can resubscribe.</small>
            <hr>
            <ul id="elContainer">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-02 | Map + ConcatAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong> Comedy Video List:</strong> 'Tech','Comedy','News'
            </p>
            <br>
            <small>we can get data using map & concat All operators.</small>
            <hr>
            <ul id="elContainer2">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-03 | ConcatMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>News Video List:</strong> 'Tech','Comedy','News'
            </p>
            <br>
            <small>we can get data using concatMap operators.</small>
            <hr>
            <ul id="elContainer3">
               
            </ul>
        </div>
    </div>
</div>