<div class="container my-3">
    <h1>CombineLatest & WithLatestFrom</h1>
    <div class="row">
        <div class="col-md-3 pr-4">
        <strong>Names</strong>
        <hr>
        <select class="form-control"  #name>
            <option value="{{item}}" *ngFor="let item of nameSource">
                {{item}}
            </option>
        </select>
        <br>
        <br>
        <strong>Colors</strong>
        <hr>
        <select class="form-control" #color>
            <option value="{{item}}" *ngFor="let item of colorSource">
                {{item}}
            </option>
        </select>
        </div>
        <div class="col-md-9 ml-auto">
            <strong>CombineLatest</strong>
            <hr>
            <div class="wrapper" id="elContainer">
                <!-- <div class="red">Danger</div>
                <div class="green">Success</div>
                <div class="yellow">Warning</div>
                <div class="blue">Primary</div>
                <div class="black">Dark</div> -->
            </div>
            <strong>withLatestFrom</strong>
            <hr>
            <div class="wrapper"  id="elContainer2">
                <!-- <div class="red">Danger</div>
                <div class="green">Success</div>
                <div class="yellow">Warning</div>
                <div class="blue">Primary</div>
                <div class="black">Dark</div> -->
            </div>  
        </div>
    </div>
</div>