.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red{
    color:rgb(252, 252, 252);
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

.green{
    color:rgb(252, 252, 252);
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
}
.yellow{
    color:rgb(252, 252, 252);
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
}
.blue{
    color:rgb(252, 252, 252);
    background-color:blue;
    padding: 5px 10px;
    border-radius: 5px;
}
.red{
    color:rgb(252, 252, 252);
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}

.black{
    color:rgb(252, 252, 252);
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

