
<section class="bodyBack">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="head">
                    <h1>ConcatMap example with Mobile Notification.</h1>
                </div> -->
            </div>
            <div class="col-md-6">
                <div class="iphone-x ">
                    <i>Speaker</i>
                    <b>Camera</b>
                    <s>10:24</s>
                    <span>Left action button</span>
                    <span>Right action button</span>

                    <div id="dialog-container">
                        <!-- <div class="dialog-box">
                          <div class="background-blur"></div>
                          <div class="header">
                            <div class="background-blur"></div>
                            <div class="contents">
                            <div class="left">
                              <i class="far fa-comment"></i> iMessage
                            </div>
                            <div class="right">
                              Sun 1:20 pm
                            </div>
                            </div>
                          </div>
                          <div class="contents main-content">
                            <strong>
                              Nathan D
                            </strong>
                            <br/>
                            Yeah, that's sound with me. I'll see you in 10
                          </div>
                        </div>
                        
                        <div class="dialog-box">
                          <div class="background-blur"></div>
                          <div class="header">
                            <div class="background-blur"></div>
                            <div class="contents">
                            <div class="left">
                              <i class="far fa-comment"></i> iMessage
                            </div>
                            <div class="right">
                              Sun 1:23 pm
                            </div>
                            </div>
                          </div>
                          <div class="contents main-content">
                            <strong>
                              Em
                            </strong>
                            <br/>
                            Okay xx
                          </div>
                        </div>
                        
                        <div class="dialog-box">
                          <div class="background-blur"></div>
                          <div class="header">
                            <div class="background-blur"></div>
                            <div class="contents">
                            <div class="left">
                              <i class="fab fa-facebook"></i> Facebook
                            </div>
                            <div class="right">
                              Sun 1:39 pm
                            </div>
                            </div>
                          </div>
                          <div class="contents main-content">
                            <strong>
                              Notification
                            </strong>
                            <br/>
                            Your friend Ethan mentioned you in a comment.
                          </div>
                        </div>
                        
                        <div class="dialog-box">
                          <div class="background-blur"></div>
                          <div class="header">
                            <div class="background-blur"></div>
                            <div class="contents">
                            <div class="left">
                              <i class="far fa-newspaper"></i> Sky News
                            </div>
                            <div class="right">
                              Sun 1:42 pm
                            </div>
                            </div>
                          </div>
                          <div class="contents main-content">
                            <strong>
                              Breaking News
                            </strong>
                            <br/>
                            An explosion in London has left over 20 people fighting for their lives.
                          </div>
                        </div>
                         -->
                      </div>

                </div>
            </div>
        </div>
    </div>
</section>