<div class="container my-3">
    <h1>Subject & BehaviourSubject</h1>
    <div class="row">
        <div class="col-md-12">
            <span>User Name Is </span><strong class="text-warning">{{UserName}}</strong>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4">
                <app-comp1></app-comp1>
            </div>
            <div class="col-md-4">
                <app-comp2></app-comp2>
            </div>
            <div class="col-md-4">
                <app-comp3></app-comp3>
            </div>
        </div>
    </div>
</div>
