ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.techlist li {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 13px;
}
