<div class="container my-3">
    <h1>SwitchMap</h1>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex-01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>TechVideo List:</strong> 'Tech','Comedy','News'
            </p>
            <br>
            <hr>
            <ul id="elContainer">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-02 | Map + SwitchAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong> Comedy Video List:</strong> 'Tech','Comedy','News'
            </p>
            <br>
            <hr>
            <ul id="elContainer2">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex-03 | SwitchMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>News Video List:</strong> 'Tech','Comedy','News'
            </p>
            <br>
            <hr>
            <ul id="elContainer3">
               
            </ul>
        </div>
    </div>
</div>